.rock,.paper,.sissor{
    cursor: pointer;
    font-size: 100px;
    border-radius: 100px;
    padding-bottom: 20px;
    border-color: rgb(255, 255, 255);
    border-width: 5px;    
    border-style:solid;
    background-color: black;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 50px;
}



.body{
    background-color: black;
}
.head{
    color: white;
    font-family: Arial;
}

.score-board{
    color: white;
}

P{
    color: white;
    font-family:Arial;
}

.status{
    font-family: Arial;
    font-size: 30px;
}

.choosed{
    font-size: 50px;
}

.you{
    color: white;
    background-color: lightpink;
    font-size: 30px;
    font-family: Arial ;
    display: inline;
}
.Computer{
    color:white;
    background-color: lightblue;
    font-family: Arial ;
    font-size:30px;
    display: inline;
    margin-left: 200px;
}

.score-board{
    font-size: 25px;
}

.reset{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family: Arial;
    border-radius: 10px;
    cursor: pointer;
    border-style: solid;
}